files:
  # Certbot Renewal Cron Job
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * 0 root certbot renew --quiet && service nginx reload

container_commands:
  01_enable_epel_and_install_certbot:
    command: |
      sudo amazon-linux-extras install epel -y
      yum repolist
      yum install -y certbot python3-certbot-nginx

  # Set up SSL certificates using Certbot
  02_stop_nginx:
    command: "service nginx stop"

  03_setup_ssl:
    command: |
      DOMAIN="pointlessapi.com"
      EMAIL="gentledins@gmail.com"
      certbot --nginx -d $DOMAIN --non-interactive --agree-tos -m $EMAIL

  04_restart_nginx:
    command: "service nginx restart"
  
  # Reload Nginx after Certbot setup
  05_reload_nginx:
    command: "service nginx reload"
