files:
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * 0 root certbot renew --quiet && service nginx reload

container_commands:
  01_enable_epel:
    command: |
      sudo yum install -y epel-release
      sudo yum repolist
      sudo yum install -y certbot python3-certbot-nginx

container_commands:
  01_setup_ssl:
    command: |
      DOMAIN="pointlessapi.com"
      EMAIL="gentledins@gmail.com"
      certbot --nginx -d $DOMAIN --non-interactive --agree-tos -m $EMAIL
