# .ebextensions/https-security-group.config

option_settings:
  aws:elasticbeanstalk:environment:environment:
    AWS_SECURITY_GROUPS: "sg-0101090e53d21f8bf"

commands:
  01_add_https_security_group:
    command: |
      SECURITY_GROUP_ID="sg-0101090e53d21f8bf"
      aws ec2 authorize-security-group-ingress --group-id $SECURITY_GROUP_ID --protocol tcp --port 443 --cidr 0.0.0.0/0
