files:
  # Certbot Renewal Cron Job
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * 0 root certbot renew --quiet && service nginx reload

  # Nginx SSL Configuration
  "/etc/nginx/conf.d/https.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          listen 443 ssl;
          server_name pointlessapi.com;

          ssl_certificate /etc/letsencrypt/live/pointlessapi.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/pointlessapi.com/privkey.pem;

          location / {
              proxy_pass http://127.0.0.1:5000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto https;
          }
      }

container_commands:
  01_enable_epel_and_install_certbot:
    command: |
      yum install -y epel-release
      yum repolist
      yum install -y certbot python3-certbot-nginx

  # Set up SSL certificates using Certbot
  02_setup_ssl:
    command: |
      DOMAIN="pointlessapi.com"
      EMAIL="gentledins@gmail.com"
      certbot --nginx -d $DOMAIN --non-interactive --agree-tos -m $EMAIL

  # Reload Nginx after Certbot setup
  03_reload_nginx:
    command: "service nginx reload"
