files:
  # Certbot Renewal Cron Job
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * 0 root certbot renew --quiet && service nginx reload

  # Nginx SSL Configuration
  "/etc/nginx/conf.d/https.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          listen 443 ssl;
          server_name pointlessapi.com;

          # Allow ACME challenge requests
          location /.well-known/acme-challenge/ {
              root /var/www/certbot;
          }

          ssl_certificate /etc/letsencrypt/live/pointlessapi.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/pointlessapi.com/privkey.pem;

          location / {
              proxy_pass http://127.0.0.1:5000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto https;
          }
      }

container_commands:
  01_enable_epel_and_install_certbot:
    command: |
      sudo amazon-linux-extras install epel -y
      yum repolist
      yum install -y certbot python3-certbot-nginx

  # Set up SSL certificates using Certbot
  02_stop_nginx:
    command: "service nginx stop"

  03_setup_ssl:
    command: |
      DOMAIN="pointlessapi.com"
      EMAIL="gentledins@gmail.com"
      certbot certonly --standalone -d $DOMAIN --non-interactive --agree-tos -m $EMAIL

  04_restart_nginx:
    command: "service nginx restart"
  
  # Reload Nginx after Certbot setup
  05_reload_nginx:
    command: "service nginx reload"
